flows.json
[
  {
    "id": "282179c5d0c7cef6",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Handles Redis caching logic for API requests.",
    "name": "Check Cache and Fetch Data",
    "isPopulated": true,
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "c2d93ed7b906bb8e"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 700,
        "y": 140,
        "wires": [
          {
            "id": "38c539c9ccea98b0",
            "port": 0
          },
          {
            "id": "46888f6b7e70380c",
            "port": 0
          }
        ]
      }
    ],
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "38c539c9ccea98b0",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "282179c5d0c7cef6",
    "name": "Cache Hit?",
    "wires": [
      [],
      [
        "8acc93e06ccf098f"
      ]
    ],
    "x": 450,
    "y": 120,
    "outputs": 2,
    "rules": [
      {
        "t": "neq",
        "v": "404",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "8acc93e06ccf098f",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "282179c5d0c7cef6",
    "paytoqs": "ignore",
    "persist": false,
    "proxy": "",
    "senderr": false,
    "insecureHTTPParser": false,
    "authType": "",
    "tls": "",
    "name": "Fetch from API",
    "wires": [
      [
        "46888f6b7e70380c"
      ]
    ],
    "x": 240,
    "y": 220,
    "headers": [],
    "method": "GET",
    "url": "",
    "isPopulated": true,
    "ret": "obj",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "c2d93ed7b906bb8e",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "282179c5d0c7cef6",
    "name": "Get from store",
    "wires": [
      [
        "38c539c9ccea98b0"
      ]
    ],
    "x": 240,
    "y": 120,
    "isPopulated": true,
    "meta": {
      "operation": "get",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": null
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "46888f6b7e70380c",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "282179c5d0c7cef6",
    "name": "Insert data into store",
    "wires": [
      []
    ],
    "x": 500,
    "y": 220,
    "isPopulated": true,
    "meta": {
      "operation": "create",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": "payload"
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "3a04952fc8eefc58",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Subflow to handle HTTP requests with configurable conditional retry mechanism.\r\n\r\n### Environment Variables:\r\n- `maxRetries`: Maximum retry attempts (default: 3).\r\n- `retryDelay`: Delay between retries in milliseconds (default: 1000 ms).\r\n- `retryStatusCode`: HTTP status code to trigger retry (optional).\r\n- `retryPayloadCheck`: String to check in the response payload for retry (optional).\r\n\r\n### Input:\r\n- `msg.url`: The URL for the HTTP request.\r\n- `msg.method`: HTTP method (e.g., GET, POST).\r\n- `msg.payload`: Request payload (optional).\r\n\r\n### Output:\r\n- On success: Returns the HTTP response.\r\n- On failure: Returns an error with retry attempts and failure details.",
    "env": [
      {
        "name": "maxRetries",
        "type": "str",
        "value": "4"
      },
      {
        "name": "retryDelay",
        "type": "str",
        "value": "1000"
      },
      {
        "name": "retryStatusCode",
        "type": "str",
        "value": ""
      },
      {
        "name": "retryPayloadCheck",
        "type": "str",
        "value": ""
      }
    ],
    "name": "Http Request with Conditional Retry",
    "isPopulated": true,
    "in": [
      {
        "x": 100,
        "y": 60,
        "wires": [
          {
            "id": "34b488a6fbb0ba15"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1080,
        "y": 40,
        "wires": [
          {
            "id": "39f5838e965517d4",
            "port": 0
          }
        ]
      }
    ],
    "category": "",
    "color": "#f79007",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "34b488a6fbb0ba15",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "Initialize Retry Count",
    "wires": [
      [
        "07124413ca799d23"
      ]
    ],
    "x": 300,
    "y": 60,
    "func": "msg.retries = msg.retries || 0; // Initialize retry count\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "07124413ca799d23",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "HTTP Request",
    "wires": [
      [
        "39f5838e965517d4",
        "836b350bf608e784"
      ]
    ],
    "x": 660,
    "y": 60,
    "method": "use",
    "url": "",
    "isPopulated": true,
    "ret": "txt",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "39f5838e965517d4",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "Response OK?",
    "wires": [
      [],
      [
        "fa3b2ddd8404f786"
      ]
    ],
    "x": 920,
    "y": 60,
    "outputs": 2,
    "rules": [
      {
        "t": "btwn",
        "v": "200",
        "vt": "num",
        "v2": "299",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "fa3b2ddd8404f786",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "Conditional Retry Check",
    "wires": [
      [
        "5276854be5f4e125"
      ],
      [
        "b2712c77daac14ae"
      ]
    ],
    "x": 470,
    "y": 260,
    "func": "const maxRetries = env.get(\"maxRetries\") || 3;\nconst retryDelay = env.get(\"retryDelay\") || 1000;\nconst retryStatusCode = env.get(\"retryStatusCode\"); // Optional\nconst retryPayloadCheck = env.get(\"retryPayloadCheck\"); // Optional\n\n// Check if retries are exhausted\nif (msg.retries >= maxRetries) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Failed after max retries\" });\n    msg.error = `Failed after ${msg.retries} retries`;\n    return [null, msg];\n}\n\nlet retryConditionMet = false;\n\n// Check if statusCode matches retryStatusCode\nif (retryStatusCode && msg.statusCode == retryStatusCode) {\n    retryConditionMet = true;\n}\n// Check if payload contains retryPayloadCheck string\nif (retryPayloadCheck && typeof msg.payload === \"string\" && msg.payload.includes(retryPayloadCheck)) {\n    retryConditionMet = true;\n}\n\nif (retryConditionMet) {\n    msg.retries++;\n    msg.delay = retryDelay;\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Retry ${msg.retries}/${maxRetries}` });\n    return [msg, null];\n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"No retry condition met\" });\n    msg.error = \"No retry condition met\";\n    return [null, msg];\n}",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "b2712c77daac14ae",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "Log Error",
    "active": true,
    "wires": [],
    "x": 820,
    "y": 340,
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "836b350bf608e784",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "debug 2",
    "active": true,
    "wires": [],
    "x": 930,
    "y": 200,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "66be8dceef67c9eb",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "debug 3",
    "active": true,
    "wires": [],
    "x": 700,
    "y": 180,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "5276854be5f4e125",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "type": "delay",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "3a04952fc8eefc58",
    "name": "Delay Node",
    "wires": [
      [
        "07124413ca799d23",
        "66be8dceef67c9eb"
      ]
    ],
    "x": 310,
    "y": 100,
    "outputs": 1,
    "timeout": "5",
    "isPopulated": true,
    "recStatus": "active",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "pauseType": "delay",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "__v": 0
  },
  {
    "id": "72173e8c-5d24-457b-90ed-71a2d6609651",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Handles Redis caching logic for API requests.",
    "name": "Check Cache and Fetch Data",
    "isPopulated": true,
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "98343b3a-3d63-432a-ad55-f314f54e43a5"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 700,
        "y": 140,
        "wires": [
          {
            "id": "0d2fe70b-6de2-427d-8add-0495bf229cee",
            "port": 0
          },
          {
            "id": "eadf8136-96d1-42de-9515-71b35b2f9ba6",
            "port": 0
          }
        ]
      }
    ],
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "0d2fe70b-6de2-427d-8add-0495bf229cee",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "72173e8c-5d24-457b-90ed-71a2d6609651",
    "name": "Cache Hit?",
    "wires": [
      [],
      [
        "3e437861-0766-4685-b7e7-f03872076f6a"
      ]
    ],
    "x": 450,
    "y": 120,
    "outputs": 2,
    "rules": [
      {
        "t": "neq",
        "v": "404",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "3e437861-0766-4685-b7e7-f03872076f6a",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "72173e8c-5d24-457b-90ed-71a2d6609651",
    "paytoqs": "ignore",
    "persist": false,
    "proxy": "",
    "senderr": false,
    "insecureHTTPParser": false,
    "authType": "",
    "tls": "",
    "name": "Fetch from API",
    "wires": [
      [
        "eadf8136-96d1-42de-9515-71b35b2f9ba6"
      ]
    ],
    "x": 240,
    "y": 220,
    "headers": [],
    "method": "GET",
    "url": "",
    "isPopulated": true,
    "ret": "obj",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "98343b3a-3d63-432a-ad55-f314f54e43a5",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "72173e8c-5d24-457b-90ed-71a2d6609651",
    "name": "Get from store",
    "wires": [
      [
        "0d2fe70b-6de2-427d-8add-0495bf229cee"
      ]
    ],
    "x": 240,
    "y": 120,
    "isPopulated": true,
    "meta": {
      "operation": "get",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": null
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "eadf8136-96d1-42de-9515-71b35b2f9ba6",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "72173e8c-5d24-457b-90ed-71a2d6609651",
    "name": "Insert data into store",
    "wires": [
      []
    ],
    "x": 500,
    "y": 220,
    "isPopulated": true,
    "meta": {
      "operation": "create",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": "payload"
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Subflow to handle HTTP requests with configurable conditional retry mechanism.\r\n\r\n### Environment Variables:\r\n- `maxRetries`: Maximum retry attempts (default: 3).\r\n- `retryDelay`: Delay between retries in milliseconds (default: 1000 ms).\r\n- `retryStatusCode`: HTTP status code to trigger retry (optional).\r\n- `retryPayloadCheck`: String to check in the response payload for retry (optional).\r\n\r\n### Input:\r\n- `msg.url`: The URL for the HTTP request.\r\n- `msg.method`: HTTP method (e.g., GET, POST).\r\n- `msg.payload`: Request payload (optional).\r\n\r\n### Output:\r\n- On success: Returns the HTTP response.\r\n- On failure: Returns an error with retry attempts and failure details.",
    "env": [
      {
        "name": "maxRetries",
        "type": "str",
        "value": "4"
      },
      {
        "name": "retryDelay",
        "type": "str",
        "value": "1000"
      },
      {
        "name": "retryStatusCode",
        "type": "str",
        "value": ""
      },
      {
        "name": "retryPayloadCheck",
        "type": "str",
        "value": ""
      }
    ],
    "name": "Http Request with Conditional Retry",
    "isPopulated": true,
    "in": [
      {
        "x": 100,
        "y": 60,
        "wires": [
          {
            "id": "bbd1d027-b4e5-4ee8-9f33-3d97f802aabc"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1080,
        "y": 40,
        "wires": [
          {
            "id": "3ae695c5-6b57-424d-8a84-0223d7cdbe01",
            "port": 0
          }
        ]
      }
    ],
    "category": "",
    "color": "#f79007",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "bbd1d027-b4e5-4ee8-9f33-3d97f802aabc",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "Initialize Retry Count",
    "wires": [
      [
        "503db664-3b39-458a-badb-24dacbe7f29c"
      ]
    ],
    "x": 300,
    "y": 60,
    "func": "msg.retries = msg.retries || 0; // Initialize retry count\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "503db664-3b39-458a-badb-24dacbe7f29c",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "HTTP Request",
    "wires": [
      [
        "3ae695c5-6b57-424d-8a84-0223d7cdbe01",
        "a22c62fd-8285-4ee6-8d46-2769a98e0e12"
      ]
    ],
    "x": 660,
    "y": 60,
    "method": "use",
    "url": "",
    "isPopulated": true,
    "ret": "txt",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "3ae695c5-6b57-424d-8a84-0223d7cdbe01",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "Response OK?",
    "wires": [
      [],
      [
        "650031d4-b3a7-42fb-9ca3-187a8c20103b"
      ]
    ],
    "x": 920,
    "y": 60,
    "outputs": 2,
    "rules": [
      {
        "t": "btwn",
        "v": "200",
        "vt": "num",
        "v2": "299",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "650031d4-b3a7-42fb-9ca3-187a8c20103b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "Conditional Retry Check",
    "wires": [
      [
        "f0959f75-94d3-4bbb-966e-1c16b2e18f00"
      ],
      [
        "4ef54baa-468f-465b-8fee-ef919d32cb27"
      ]
    ],
    "x": 470,
    "y": 260,
    "func": "const maxRetries = env.get(\"maxRetries\") || 3;\nconst retryDelay = env.get(\"retryDelay\") || 1000;\nconst retryStatusCode = env.get(\"retryStatusCode\"); // Optional\nconst retryPayloadCheck = env.get(\"retryPayloadCheck\"); // Optional\n\n// Check if retries are exhausted\nif (msg.retries >= maxRetries) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Failed after max retries\" });\n    msg.error = `Failed after ${msg.retries} retries`;\n    return [null, msg];\n}\n\nlet retryConditionMet = false;\n\n// Check if statusCode matches retryStatusCode\nif (retryStatusCode && msg.statusCode == retryStatusCode) {\n    retryConditionMet = true;\n}\n// Check if payload contains retryPayloadCheck string\nif (retryPayloadCheck && typeof msg.payload === \"string\" && msg.payload.includes(retryPayloadCheck)) {\n    retryConditionMet = true;\n}\n\nif (retryConditionMet) {\n    msg.retries++;\n    msg.delay = retryDelay;\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Retry ${msg.retries}/${maxRetries}` });\n    return [msg, null];\n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"No retry condition met\" });\n    msg.error = \"No retry condition met\";\n    return [null, msg];\n}",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "4ef54baa-468f-465b-8fee-ef919d32cb27",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "Log Error",
    "active": true,
    "wires": [],
    "x": 820,
    "y": 340,
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "a22c62fd-8285-4ee6-8d46-2769a98e0e12",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "debug 2",
    "active": true,
    "wires": [],
    "x": 930,
    "y": 200,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "31ddf3e3-0689-485c-a463-2320a3a7aeca",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "debug 3",
    "active": true,
    "wires": [],
    "x": 700,
    "y": 180,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "f0959f75-94d3-4bbb-966e-1c16b2e18f00",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "delay",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "15997396-b26b-4dae-afdd-6f4099fc86f6",
    "name": "Delay Node",
    "wires": [
      [
        "503db664-3b39-458a-badb-24dacbe7f29c",
        "31ddf3e3-0689-485c-a463-2320a3a7aeca"
      ]
    ],
    "x": 310,
    "y": 100,
    "outputs": 1,
    "timeout": "5",
    "isPopulated": true,
    "recStatus": "active",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "rate": "1",
    "pauseType": "delay",
    "timeoutUnits": "seconds",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "__v": 0
  },
  {
    "id": "53c293dd-f90c-4541-a87e-c9a77ee95f8b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535640,
    "updatedAt": 1770804535640,
    "type": "http in",
    "maskId": "DduUXSx6wE",
    "z": "flow1",
    "name": "ASP Simple POST",
    "wires": [
      [
        "539dd0e2-69e7-4be3-aac0-b12c3e4a3c47"
      ]
    ],
    "x": 180,
    "y": 120,
    "method": "post",
    "url": "/aspSimple",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "539dd0e2-69e7-4be3-aac0-b12c3e4a3c47",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535640,
    "updatedAt": 1770804535640,
    "type": "function",
    "maskId": "DduUXSx6wE",
    "z": "flow1",
    "name": "Return ASP Message",
    "wires": [
      [
        "22452aee-a227-41e1-be99-875722efe291"
      ]
    ],
    "x": 420,
    "y": 120,
    "func": "// Function node logic\nmsg.payload = {\n    message: \"Hello New UI of ASP\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "recStatus": "active"
  },
  {
    "id": "22452aee-a227-41e1-be99-875722efe291",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535640,
    "updatedAt": 1770804535640,
    "type": "http response",
    "maskId": "DduUXSx6wE",
    "z": "flow1",
    "name": "Send Response",
    "wires": [],
    "x": 660,
    "y": 120,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "0135ac98-bac5-4d39-91ec-c0c0baaccaf5",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "Imported Flow",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "357048ab-6cb3-4425-9bbf-c49420f549c3",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "0135ac98-bac5-4d39-91ec-c0c0baaccaf5",
    "swaggerDoc": "",
    "name": "ASP Hello API",
    "wires": [
      [
        "997f14fa-8237-435c-9a1b-249d8c452422"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "get",
    "url": "/aspHello",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "997f14fa-8237-435c-9a1b-249d8c452422",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "0135ac98-bac5-4d39-91ec-c0c0baaccaf5",
    "name": "Return ASP Message",
    "wires": [
      [
        "88b3e82a-ca25-43c0-9bc4-9e929f8a64c6"
      ]
    ],
    "x": 380,
    "y": 100,
    "func": "// Simple function node\nmsg.payload = \"Hello New UI of ASP\";\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// Simple function node\nmsg.payload = \"Hello New UI of ASP\";\nreturn msg;"
  },
  {
    "id": "88b3e82a-ca25-43c0-9bc4-9e929f8a64c6",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "0135ac98-bac5-4d39-91ec-c0c0baaccaf5",
    "name": "Send Response",
    "wires": [],
    "x": 660,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "c8442513-32a6-4f2d-960b-e120aeeab62b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "MongoDB",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "c40e1786-d0b8-4698-84fd-b222d43cf318",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "c8442513-32a6-4f2d-960b-e120aeeab62b",
    "swaggerDoc": "",
    "name": "POST ASP Mongo API",
    "wires": [
      [
        "d92044c9-c1a5-4f3d-ae3e-c2023ef24dc9"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "post",
    "url": "/aspMongo",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "d92044c9-c1a5-4f3d-ae3e-c2023ef24dc9",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "c8442513-32a6-4f2d-960b-e120aeeab62b",
    "name": "Prepare Mongo Document",
    "wires": [
      [
        "9c3aff11-4a45-44d1-8c4a-fded8fa8fece"
      ]
    ],
    "x": 400,
    "y": 100,
    "func": "// Body comes in msg.payload\n\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// Body comes in msg.payload\n\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;"
  },
  {
    "id": "3eafae20-7229-4db6-a33a-600074fe4f1f",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "c8442513-32a6-4f2d-960b-e120aeeab62b",
    "name": "Send Response",
    "wires": [],
    "x": 1000,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "e20baee3-cddf-44b0-82ac-8213b8bcaea3",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "c8442513-32a6-4f2d-960b-e120aeeab62b",
    "name": "Local MongoDB",
    "wires": [],
    "x": 100,
    "y": 300,
    "recStatus": "active",
    "collectionName": "",
    "operation": "",
    "operationLevel": "collection",
    "useModel": false,
    "modelName": ""
  },
  {
    "id": "9c3aff11-4a45-44d1-8c4a-fded8fa8fece",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "c8442513-32a6-4f2d-960b-e120aeeab62b",
    "name": "Local MongoDB",
    "wires": [
      [
        "3eafae20-7229-4db6-a33a-600074fe4f1f"
      ]
    ],
    "x": 700,
    "y": 100,
    "outputs": 1,
    "recStatus": "active",
    "collectionName": "Test",
    "operation": "insertOne",
    "useModel": false,
    "modelName": "",
    "operationLevel": "collection"
  },
  {
    "id": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "Error Flow",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "bd2b17c0-f2c5-43b2-ad86-6f4bbe199d07",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "swaggerDoc": "",
    "name": "POST ASP Fail API",
    "wires": [
      [
        "7dd5634a-2744-4cdb-9092-b095b01a40e2"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "post",
    "url": "/aspMongoFail",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "7dd5634a-2744-4cdb-9092-b095b01a40e2",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "name": "Validate & Prepare",
    "wires": [
      [
        "36e19fca-6208-43b9-ac94-36ba10de4d6d",
        "3bb5dd74-b6ff-4d5e-867a-a627d38999a1"
      ]
    ],
    "x": 380,
    "y": 100,
    "func": "// Fail if memberNumber missing\nif (!msg.payload.memberNumber) {\n    node.error(\"Missing memberNumber\", msg);\n    return null; // Stops flow here\n}\n\n// Success path\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// Fail if memberNumber missing\nif (!msg.payload.memberNumber) {\n    node.error(\"Missing memberNumber\", msg);\n    return null; // Stops flow here\n}\n\n// Success path\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;"
  },
  {
    "id": "36e19fca-6208-43b9-ac94-36ba10de4d6d",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb out",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "name": "Insert Mongo",
    "wires": [
      [
        "75a4936a-ad66-4a44-a9e7-037f92d5b848"
      ]
    ],
    "x": 675,
    "y": 405,
    "recStatus": "active",
    "operation": "insert",
    "mongodb": "mongo_config_fail",
    "collection": "aspMessages",
    "payonly": true
  },
  {
    "id": "75a4936a-ad66-4a44-a9e7-037f92d5b848",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "name": "Send Response",
    "wires": [],
    "x": 940,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "980ce6d3-4e95-4228-bc53-667424a334a6",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "name": "Local MongoDB",
    "wires": [],
    "x": 100,
    "y": 280,
    "recStatus": "active",
    "hostname": "localhost",
    "port": "27017",
    "collectionName": "",
    "operation": "",
    "db": "aspDB",
    "operationLevel": "collection",
    "useModel": false,
    "modelName": ""
  },
  {
    "id": "3bb5dd74-b6ff-4d5e-867a-a627d38999a1",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9326b3e0-83bd-4747-8ec2-12a613d88a7a",
    "name": "Document DB",
    "wires": [
      [
        "75a4936a-ad66-4a44-a9e7-037f92d5b848"
      ]
    ],
    "x": 405,
    "y": 315,
    "recStatus": "active",
    "collectionName": "",
    "operation": "",
    "operationLevel": "collection",
    "useModel": false,
    "modelName": ""
  },
  {
    "id": "4f9e61ee-d17e-4729-8b8e-432370e55c24",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "POST CALL",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "135134f9-38d7-4093-bd32-bc695760ab8b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "4f9e61ee-d17e-4729-8b8e-432370e55c24",
    "swaggerDoc": "",
    "name": "ASP Hello POST API",
    "wires": [
      [
        "de0c5418-d99a-44fa-b6be-1461c19441c0"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "post",
    "url": "/aspHelloPost",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "de0c5418-d99a-44fa-b6be-1461c19441c0",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "4f9e61ee-d17e-4729-8b8e-432370e55c24",
    "name": "Return ASP POST Message",
    "wires": [
      [
        "1dc4ab72-9f0a-4d9c-81ad-ba4c5acca37e"
      ]
    ],
    "x": 400,
    "y": 100,
    "func": "// POST request received\n// You can access request body via msg.payload\n\nmsg.payload = \"Hello New UI of ASP\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// POST request received\n// You can access request body via msg.payload\n\nmsg.payload = \"Hello New UI of ASP\";\n\nreturn msg;"
  },
  {
    "id": "1dc4ab72-9f0a-4d9c-81ad-ba4c5acca37e",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "4f9e61ee-d17e-4729-8b8e-432370e55c24",
    "name": "Send Response",
    "wires": [],
    "x": 700,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "flow_asp_unique_001",
    "type": "tab",
    "label": "ASP_Hello_UI_Flow_Unique",
    "disabled": false,
    "info": "Simple POST API returning Hello New UI of ASP"
  },
  {
    "id": "httpin_asp_unique_001",
    "type": "http in",
    "z": "flow_asp_unique_001",
    "name": "ASP Unique POST API",
    "url": "/aspHelloUnique",
    "method": "post",
    "upload": false,
    "x": 200,
    "y": 120,
    "wires": [["function_asp_unique_001"]]
  },
  {
    "id": "function_asp_unique_001",
    "type": "function",
    "z": "flow_asp_unique_001",
    "name": "Return ASP Unique Message",
    "func": "// Unique function node logic\nmsg.payload = {\n    message: \"Hello New UI of ASP\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 120,
    "wires": [["httpresponse_asp_unique_001"]]
  },
  {
    "id": "httpresponse_asp_unique_001",
    "type": "http response",
    "z": "flow_asp_unique_001",
    "name": "Send ASP Response",
    "statusCode": "",
    "headers": {},
    "x": 700,
    "y": 120,
    "wires": []
  }
]
