flows.json
[
  {
    "id": "667d8009-d028-4c85-a36f-886888f705ee",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Handles Redis caching logic for API requests.",
    "name": "Check Cache and Fetch Data",
    "isPopulated": true,
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "d13186dd-b859-451d-a5ba-a7210476a5f1"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 700,
        "y": 140,
        "wires": [
          {
            "id": "5bc668c7-56e4-4ce9-b59b-253f48b82292",
            "port": 0
          },
          {
            "id": "506ee725-6c53-4609-862a-e2c20a2e734c",
            "port": 0
          }
        ]
      }
    ],
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "5bc668c7-56e4-4ce9-b59b-253f48b82292",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "667d8009-d028-4c85-a36f-886888f705ee",
    "name": "Cache Hit?",
    "wires": [
      [],
      [
        "ab78255a-8211-431b-a089-c3d8927cc271"
      ]
    ],
    "x": 450,
    "y": 120,
    "outputs": 2,
    "rules": [
      {
        "t": "neq",
        "v": "404",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "ab78255a-8211-431b-a089-c3d8927cc271",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "667d8009-d028-4c85-a36f-886888f705ee",
    "paytoqs": "ignore",
    "persist": false,
    "proxy": "",
    "senderr": false,
    "insecureHTTPParser": false,
    "authType": "",
    "tls": "",
    "name": "Fetch from API",
    "wires": [
      [
        "506ee725-6c53-4609-862a-e2c20a2e734c"
      ]
    ],
    "x": 240,
    "y": 220,
    "headers": [],
    "method": "GET",
    "url": "",
    "isPopulated": true,
    "ret": "obj",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "d13186dd-b859-451d-a5ba-a7210476a5f1",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "667d8009-d028-4c85-a36f-886888f705ee",
    "name": "Get from store",
    "wires": [
      [
        "5bc668c7-56e4-4ce9-b59b-253f48b82292"
      ]
    ],
    "x": 240,
    "y": 120,
    "isPopulated": true,
    "meta": {
      "operation": "get",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": null
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "506ee725-6c53-4609-862a-e2c20a2e734c",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "667d8009-d028-4c85-a36f-886888f705ee",
    "name": "Insert data into store",
    "wires": [
      []
    ],
    "x": 500,
    "y": 220,
    "isPopulated": true,
    "meta": {
      "operation": "create",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": "payload"
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Subflow to handle HTTP requests with configurable conditional retry mechanism.\r\n\r\n### Environment Variables:\r\n- `maxRetries`: Maximum retry attempts (default: 3).\r\n- `retryDelay`: Delay between retries in milliseconds (default: 1000 ms).\r\n- `retryStatusCode`: HTTP status code to trigger retry (optional).\r\n- `retryPayloadCheck`: String to check in the response payload for retry (optional).\r\n\r\n### Input:\r\n- `msg.url`: The URL for the HTTP request.\r\n- `msg.method`: HTTP method (e.g., GET, POST).\r\n- `msg.payload`: Request payload (optional).\r\n\r\n### Output:\r\n- On success: Returns the HTTP response.\r\n- On failure: Returns an error with retry attempts and failure details.",
    "env": [
      {
        "name": "maxRetries",
        "type": "str",
        "value": "4"
      },
      {
        "name": "retryDelay",
        "type": "str",
        "value": "1000"
      },
      {
        "name": "retryStatusCode",
        "type": "str",
        "value": ""
      },
      {
        "name": "retryPayloadCheck",
        "type": "str",
        "value": ""
      }
    ],
    "name": "Http Request with Conditional Retry",
    "isPopulated": true,
    "in": [
      {
        "x": 100,
        "y": 60,
        "wires": [
          {
            "id": "4bff9772-af5d-4979-8ead-056add3a84c0"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1080,
        "y": 40,
        "wires": [
          {
            "id": "de122d71-caca-4611-9643-9b348212342e",
            "port": 0
          }
        ]
      }
    ],
    "category": "",
    "color": "#f79007",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "4bff9772-af5d-4979-8ead-056add3a84c0",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "Initialize Retry Count",
    "wires": [
      [
        "4032e750-4ba9-44c1-84b3-bea117fd2b85"
      ]
    ],
    "x": 300,
    "y": 60,
    "func": "msg.retries = msg.retries || 0; // Initialize retry count\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "4032e750-4ba9-44c1-84b3-bea117fd2b85",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "HTTP Request",
    "wires": [
      [
        "de122d71-caca-4611-9643-9b348212342e",
        "3b974a30-4067-4b70-996b-2d0f49b993d1"
      ]
    ],
    "x": 660,
    "y": 60,
    "method": "use",
    "url": "",
    "isPopulated": true,
    "ret": "txt",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "de122d71-caca-4611-9643-9b348212342e",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "Response OK?",
    "wires": [
      [],
      [
        "6b452900-2547-44a1-aa8a-4407911a38b6"
      ]
    ],
    "x": 920,
    "y": 60,
    "outputs": 2,
    "rules": [
      {
        "t": "btwn",
        "v": "200",
        "vt": "num",
        "v2": "299",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "6b452900-2547-44a1-aa8a-4407911a38b6",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "Conditional Retry Check",
    "wires": [
      [
        "d7fb0080-1df5-4c61-9b40-b4cf41cd6f0e"
      ],
      [
        "49fe777a-0cd3-4bca-a9cc-002831b82966"
      ]
    ],
    "x": 470,
    "y": 260,
    "func": "const maxRetries = env.get(\"maxRetries\") || 3;\nconst retryDelay = env.get(\"retryDelay\") || 1000;\nconst retryStatusCode = env.get(\"retryStatusCode\"); // Optional\nconst retryPayloadCheck = env.get(\"retryPayloadCheck\"); // Optional\n\n// Check if retries are exhausted\nif (msg.retries >= maxRetries) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Failed after max retries\" });\n    msg.error = `Failed after ${msg.retries} retries`;\n    return [null, msg];\n}\n\nlet retryConditionMet = false;\n\n// Check if statusCode matches retryStatusCode\nif (retryStatusCode && msg.statusCode == retryStatusCode) {\n    retryConditionMet = true;\n}\n// Check if payload contains retryPayloadCheck string\nif (retryPayloadCheck && typeof msg.payload === \"string\" && msg.payload.includes(retryPayloadCheck)) {\n    retryConditionMet = true;\n}\n\nif (retryConditionMet) {\n    msg.retries++;\n    msg.delay = retryDelay;\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Retry ${msg.retries}/${maxRetries}` });\n    return [msg, null];\n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"No retry condition met\" });\n    msg.error = \"No retry condition met\";\n    return [null, msg];\n}",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "49fe777a-0cd3-4bca-a9cc-002831b82966",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "Log Error",
    "active": true,
    "wires": [],
    "x": 820,
    "y": 340,
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "3b974a30-4067-4b70-996b-2d0f49b993d1",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "debug 2",
    "active": true,
    "wires": [],
    "x": 930,
    "y": 200,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "cab8f77d-fbb0-4062-8794-4ab858ac2e74",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "debug 3",
    "active": true,
    "wires": [],
    "x": 700,
    "y": 180,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "d7fb0080-1df5-4c61-9b40-b4cf41cd6f0e",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804372696,
    "type": "delay",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "77c6a876-cc1f-48c1-8d3a-620f65f8d533",
    "name": "Delay Node",
    "wires": [
      [
        "4032e750-4ba9-44c1-84b3-bea117fd2b85",
        "cab8f77d-fbb0-4062-8794-4ab858ac2e74"
      ]
    ],
    "x": 310,
    "y": 100,
    "outputs": 1,
    "timeout": "5",
    "isPopulated": true,
    "recStatus": "active",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "rate": "1",
    "pauseType": "delay",
    "timeoutUnits": "seconds",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "__v": 0
  },
  {
    "id": "bc78e608-4904-4ad9-b578-5b785f613916",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Handles Redis caching logic for API requests.",
    "name": "Check Cache and Fetch Data",
    "isPopulated": true,
    "in": [
      {
        "x": 60,
        "y": 120,
        "wires": [
          {
            "id": "08472533-ac9d-4627-a479-7a83d2b3a21e"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 700,
        "y": 140,
        "wires": [
          {
            "id": "18239bce-91d7-43b4-94cf-a71c10364054",
            "port": 0
          },
          {
            "id": "3152776c-989c-4e33-843b-d8fdc4bfd9ed",
            "port": 0
          }
        ]
      }
    ],
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "18239bce-91d7-43b4-94cf-a71c10364054",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "bc78e608-4904-4ad9-b578-5b785f613916",
    "name": "Cache Hit?",
    "wires": [
      [],
      [
        "4c0e6ba8-7268-4213-8662-76192968c9b7"
      ]
    ],
    "x": 450,
    "y": 120,
    "outputs": 2,
    "rules": [
      {
        "t": "neq",
        "v": "404",
        "vt": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "4c0e6ba8-7268-4213-8662-76192968c9b7",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "bc78e608-4904-4ad9-b578-5b785f613916",
    "paytoqs": "ignore",
    "persist": false,
    "proxy": "",
    "senderr": false,
    "insecureHTTPParser": false,
    "authType": "",
    "tls": "",
    "name": "Fetch from API",
    "wires": [
      [
        "3152776c-989c-4e33-843b-d8fdc4bfd9ed"
      ]
    ],
    "x": 240,
    "y": 220,
    "headers": [],
    "method": "GET",
    "url": "",
    "isPopulated": true,
    "ret": "obj",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "08472533-ac9d-4627-a479-7a83d2b3a21e",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "bc78e608-4904-4ad9-b578-5b785f613916",
    "name": "Get from store",
    "wires": [
      [
        "18239bce-91d7-43b4-94cf-a71c10364054"
      ]
    ],
    "x": 240,
    "y": 120,
    "isPopulated": true,
    "meta": {
      "operation": "get",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": null
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "3152776c-989c-4e33-843b-d8fdc4bfd9ed",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "key-value-store",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "bc78e608-4904-4ad9-b578-5b785f613916",
    "name": "Insert data into store",
    "wires": [
      []
    ],
    "x": 500,
    "y": 220,
    "isPopulated": true,
    "meta": {
      "operation": "create",
      "keyStoreKey": {
        "keyType": "msg",
        "value": "key"
      },
      "keyStoreValue": {
        "keyType": "msg",
        "value": "payload"
      },
      "expiresAt": ""
    },
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "subflow",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "info": "Subflow to handle HTTP requests with configurable conditional retry mechanism.\r\n\r\n### Environment Variables:\r\n- `maxRetries`: Maximum retry attempts (default: 3).\r\n- `retryDelay`: Delay between retries in milliseconds (default: 1000 ms).\r\n- `retryStatusCode`: HTTP status code to trigger retry (optional).\r\n- `retryPayloadCheck`: String to check in the response payload for retry (optional).\r\n\r\n### Input:\r\n- `msg.url`: The URL for the HTTP request.\r\n- `msg.method`: HTTP method (e.g., GET, POST).\r\n- `msg.payload`: Request payload (optional).\r\n\r\n### Output:\r\n- On success: Returns the HTTP response.\r\n- On failure: Returns an error with retry attempts and failure details.",
    "env": [
      {
        "name": "maxRetries",
        "type": "str",
        "value": "4"
      },
      {
        "name": "retryDelay",
        "type": "str",
        "value": "1000"
      },
      {
        "name": "retryStatusCode",
        "type": "str",
        "value": ""
      },
      {
        "name": "retryPayloadCheck",
        "type": "str",
        "value": ""
      }
    ],
    "name": "Http Request with Conditional Retry",
    "isPopulated": true,
    "in": [
      {
        "x": 100,
        "y": 60,
        "wires": [
          {
            "id": "9ce723d8-166c-44a8-9728-4ee58b12a738"
          }
        ]
      }
    ],
    "out": [
      {
        "x": 1080,
        "y": 40,
        "wires": [
          {
            "id": "030bb3b9-d3c3-42bc-ac20-7dbbe1878bbf",
            "port": 0
          }
        ]
      }
    ],
    "category": "",
    "color": "#f79007",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "9ce723d8-166c-44a8-9728-4ee58b12a738",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "Initialize Retry Count",
    "wires": [
      [
        "875d782f-29a3-48b1-ae1c-025b926177c4"
      ]
    ],
    "x": 300,
    "y": 60,
    "func": "msg.retries = msg.retries || 0; // Initialize retry count\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "875d782f-29a3-48b1-ae1c-025b926177c4",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "http request",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "HTTP Request",
    "wires": [
      [
        "030bb3b9-d3c3-42bc-ac20-7dbbe1878bbf",
        "c4ec802b-6eb5-4913-80cf-b14dead6291f"
      ]
    ],
    "x": 660,
    "y": 60,
    "method": "use",
    "url": "",
    "isPopulated": true,
    "ret": "txt",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "030bb3b9-d3c3-42bc-ac20-7dbbe1878bbf",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "switch",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "Response OK?",
    "wires": [
      [],
      [
        "a36b3914-7d8f-4b73-849a-dfbb2b072680"
      ]
    ],
    "x": 920,
    "y": 60,
    "outputs": 2,
    "rules": [
      {
        "t": "btwn",
        "v": "200",
        "vt": "num",
        "v2": "299",
        "v2t": "num"
      },
      {
        "t": "else"
      }
    ],
    "property": "statusCode",
    "isPopulated": true,
    "propertyType": "msg",
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "a36b3914-7d8f-4b73-849a-dfbb2b072680",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "function",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "Conditional Retry Check",
    "wires": [
      [
        "ddb26b20-e6d6-4dae-a4ac-90942ed85e8a"
      ],
      [
        "9b7f45c5-182c-4bfe-a839-27bf4a571594"
      ]
    ],
    "x": 470,
    "y": 260,
    "func": "const maxRetries = env.get(\"maxRetries\") || 3;\nconst retryDelay = env.get(\"retryDelay\") || 1000;\nconst retryStatusCode = env.get(\"retryStatusCode\"); // Optional\nconst retryPayloadCheck = env.get(\"retryPayloadCheck\"); // Optional\n\n// Check if retries are exhausted\nif (msg.retries >= maxRetries) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Failed after max retries\" });\n    msg.error = `Failed after ${msg.retries} retries`;\n    return [null, msg];\n}\n\nlet retryConditionMet = false;\n\n// Check if statusCode matches retryStatusCode\nif (retryStatusCode && msg.statusCode == retryStatusCode) {\n    retryConditionMet = true;\n}\n// Check if payload contains retryPayloadCheck string\nif (retryPayloadCheck && typeof msg.payload === \"string\" && msg.payload.includes(retryPayloadCheck)) {\n    retryConditionMet = true;\n}\n\nif (retryConditionMet) {\n    msg.retries++;\n    msg.delay = retryDelay;\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Retry ${msg.retries}/${maxRetries}` });\n    return [msg, null];\n} else {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"No retry condition met\" });\n    msg.error = \"No retry condition met\";\n    return [null, msg];\n}",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "9b7f45c5-182c-4bfe-a839-27bf4a571594",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "Log Error",
    "active": true,
    "wires": [],
    "x": 820,
    "y": 340,
    "isPopulated": true,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "c4ec802b-6eb5-4913-80cf-b14dead6291f",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "debug 2",
    "active": true,
    "wires": [],
    "x": 930,
    "y": 200,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "999c16cb-d20d-42d2-b27a-8db61fe855b7",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "debug",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "debug 3",
    "active": true,
    "wires": [],
    "x": 700,
    "y": 180,
    "isPopulated": true,
    "complete": "false",
    "console": false,
    "statusType": "auto",
    "statusVal": "",
    "tosidebar": true,
    "tostatus": false,
    "recStatus": "active",
    "__v": 0
  },
  {
    "id": "ddb26b20-e6d6-4dae-a4ac-90942ed85e8a",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804643357,
    "updatedAt": 1770804535640,
    "type": "delay",
    "appType": "analytics",
    "maskId": "DduUXSx6wE",
    "z": "a9b66699-68f6-423b-9581-c2e07bd2fe67",
    "name": "Delay Node",
    "wires": [
      [
        "875d782f-29a3-48b1-ae1c-025b926177c4",
        "999c16cb-d20d-42d2-b27a-8db61fe855b7"
      ]
    ],
    "x": 310,
    "y": 100,
    "outputs": 1,
    "timeout": "5",
    "isPopulated": true,
    "recStatus": "active",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "rate": "1",
    "pauseType": "delay",
    "timeoutUnits": "seconds",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "__v": 0
  },
  {
    "id": "4e74209f-4d52-426d-905f-4a41f4cae582",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535640,
    "updatedAt": 1770804535640,
    "type": "http in",
    "maskId": "DduUXSx6wE",
    "z": "flow1",
    "name": "ASP Simple POST",
    "wires": [
      [
        "7379b9c5-a2c5-4a9f-88ac-fa6ba8b290e5"
      ]
    ],
    "x": 180,
    "y": 120,
    "method": "post",
    "url": "/aspSimple",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "7379b9c5-a2c5-4a9f-88ac-fa6ba8b290e5",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535640,
    "updatedAt": 1770804535640,
    "type": "function",
    "maskId": "DduUXSx6wE",
    "z": "flow1",
    "name": "Return ASP Message",
    "wires": [
      [
        "f106e5ef-7ae7-455f-af46-5a7a7f3cbbc1"
      ]
    ],
    "x": 420,
    "y": 120,
    "func": "// Function node logic\nmsg.payload = {\n    message: \"Hello New UI of ASP\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "recStatus": "active"
  },
  {
    "id": "f106e5ef-7ae7-455f-af46-5a7a7f3cbbc1",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535640,
    "updatedAt": 1770804535640,
    "type": "http response",
    "maskId": "DduUXSx6wE",
    "z": "flow1",
    "name": "Send Response",
    "wires": [],
    "x": 660,
    "y": 120,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "b24190f3-cf15-46da-a922-c5cb29d78ff7",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372696,
    "updatedAt": 1770804372696,
    "type": "tab",
    "maskId": "DduUXSx6wE",
    "label": "ASP_Hello_UI_Flow_Unique",
    "disabled": false,
    "info": "Simple POST API returning Hello New UI of ASP",
    "recStatus": "active"
  },
  {
    "id": "5c577f55-445c-4aa6-881d-14b21bdb724c",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372696,
    "updatedAt": 1770804372696,
    "type": "http in",
    "maskId": "DduUXSx6wE",
    "z": "b24190f3-cf15-46da-a922-c5cb29d78ff7",
    "name": "ASP Unique POST API",
    "wires": [
      [
        "e9ddf0ab-e050-4da0-9eda-f179888b25dc"
      ]
    ],
    "x": 200,
    "y": 120,
    "method": "post",
    "url": "/aspHelloUnique",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "e9ddf0ab-e050-4da0-9eda-f179888b25dc",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372696,
    "updatedAt": 1770804372696,
    "type": "function",
    "maskId": "DduUXSx6wE",
    "z": "b24190f3-cf15-46da-a922-c5cb29d78ff7",
    "name": "Return ASP Unique Message",
    "wires": [
      [
        "07d9a621-5376-43d7-9f1c-b9054c3bbec9"
      ]
    ],
    "x": 450,
    "y": 120,
    "func": "// Unique function node logic\nmsg.payload = {\n    message: \"Hello New UI of ASP\"\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "recStatus": "active"
  },
  {
    "id": "07d9a621-5376-43d7-9f1c-b9054c3bbec9",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372696,
    "updatedAt": 1770804372696,
    "type": "http response",
    "maskId": "DduUXSx6wE",
    "z": "b24190f3-cf15-46da-a922-c5cb29d78ff7",
    "name": "Send ASP Response",
    "wires": [],
    "x": 700,
    "y": 120,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "Error Flow",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "ffaa1fef-177c-46eb-b071-fca1164ea683",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "swaggerDoc": "",
    "name": "POST ASP Fail API",
    "wires": [
      [
        "72a3dff5-c7e1-4830-8ede-3f838f188dac"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "post",
    "url": "/aspMongoFail",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "72a3dff5-c7e1-4830-8ede-3f838f188dac",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "name": "Validate & Prepare",
    "wires": [
      [
        "66199502-c697-440b-83a2-4a85af648cc9",
        "fc67b50d-54ff-472d-8faf-cfb54ce4382b"
      ]
    ],
    "x": 380,
    "y": 100,
    "func": "// Fail if memberNumber missing\nif (!msg.payload.memberNumber) {\n    node.error(\"Missing memberNumber\", msg);\n    return null; // Stops flow here\n}\n\n// Success path\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// Fail if memberNumber missing\nif (!msg.payload.memberNumber) {\n    node.error(\"Missing memberNumber\", msg);\n    return null; // Stops flow here\n}\n\n// Success path\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;"
  },
  {
    "id": "66199502-c697-440b-83a2-4a85af648cc9",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb out",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "name": "Insert Mongo",
    "wires": [
      [
        "473171b7-193f-4bc7-98fe-20d3082dcb94"
      ]
    ],
    "x": 675,
    "y": 405,
    "recStatus": "active",
    "operation": "insert",
    "mongodb": "mongo_config_fail",
    "collection": "aspMessages",
    "payonly": true
  },
  {
    "id": "473171b7-193f-4bc7-98fe-20d3082dcb94",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "name": "Send Response",
    "wires": [],
    "x": 940,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "8ed94385-88cf-4c9f-8eea-83cb99e0c99b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "name": "Local MongoDB",
    "wires": [],
    "x": 100,
    "y": 280,
    "recStatus": "active",
    "hostname": "localhost",
    "port": "27017",
    "collectionName": "",
    "operation": "",
    "db": "aspDB",
    "operationLevel": "collection",
    "useModel": false,
    "modelName": ""
  },
  {
    "id": "fc67b50d-54ff-472d-8faf-cfb54ce4382b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "9deea69f-9c29-4bcd-96f3-c4d2e27130c1",
    "name": "Document DB",
    "wires": [
      [
        "473171b7-193f-4bc7-98fe-20d3082dcb94"
      ]
    ],
    "x": 405,
    "y": 315,
    "recStatus": "active",
    "collectionName": "",
    "operation": "",
    "operationLevel": "collection",
    "useModel": false,
    "modelName": ""
  },
  {
    "id": "43f8b40a-f4f2-49ec-8997-58e04ed24521",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "POST CALL",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "ae82c62f-1601-412b-aa0b-6ef020c0ec22",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "43f8b40a-f4f2-49ec-8997-58e04ed24521",
    "swaggerDoc": "",
    "name": "ASP Hello POST API",
    "wires": [
      [
        "f911186f-1d08-47a1-b93a-b30fc26def2e"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "post",
    "url": "/aspHelloPost",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "f911186f-1d08-47a1-b93a-b30fc26def2e",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "43f8b40a-f4f2-49ec-8997-58e04ed24521",
    "name": "Return ASP POST Message",
    "wires": [
      [
        "443d4b15-43e9-411e-bee0-b33fa6ab27b3"
      ]
    ],
    "x": 400,
    "y": 100,
    "func": "// POST request received\n// You can access request body via msg.payload\n\nmsg.payload = \"Hello New UI of ASP\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// POST request received\n// You can access request body via msg.payload\n\nmsg.payload = \"Hello New UI of ASP\";\n\nreturn msg;"
  },
  {
    "id": "443d4b15-43e9-411e-bee0-b33fa6ab27b3",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "43f8b40a-f4f2-49ec-8997-58e04ed24521",
    "name": "Send Response",
    "wires": [],
    "x": 700,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "fbc46838-cb44-48ba-8830-0ced5b487e6c",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "Imported Flow",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "14cb3bc6-7923-4997-9665-240d8ddcc3f5",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "fbc46838-cb44-48ba-8830-0ced5b487e6c",
    "swaggerDoc": "",
    "name": "ASP Hello API",
    "wires": [
      [
        "588ec3cf-f967-48cc-a338-408f8448f752"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "get",
    "url": "/aspHello",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "588ec3cf-f967-48cc-a338-408f8448f752",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "fbc46838-cb44-48ba-8830-0ced5b487e6c",
    "name": "Return ASP Message",
    "wires": [
      [
        "aaf1f180-2dcb-4800-bbf3-41772c2efd26"
      ]
    ],
    "x": 405,
    "y": 105,
    "func": "// Simple function node\nmsg.payload = \"Hello New UI of ASP\";\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// Simple function node\nmsg.payload = \"Hello New UI of ASP\";\nreturn msg;"
  },
  {
    "id": "aaf1f180-2dcb-4800-bbf3-41772c2efd26",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804535643,
    "updatedAt": 1770804535643,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "fbc46838-cb44-48ba-8830-0ced5b487e6c",
    "name": "Send Response",
    "wires": [],
    "x": 700,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "92891d0a-9fda-422f-adf0-4ade20fd790b",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "tab",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "label": "MongoDB",
    "disabled": false,
    "info": "",
    "env": [],
    "recStatus": "active"
  },
  {
    "id": "08d8be9f-47ce-4a8c-adac-fedc1b6ffe85",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "http in",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "92891d0a-9fda-422f-adf0-4ade20fd790b",
    "swaggerDoc": "",
    "name": "POST ASP Mongo API",
    "wires": [
      [
        "2be766f2-9beb-4079-b730-297a551a76bf"
      ]
    ],
    "x": 100,
    "y": 100,
    "method": "post",
    "url": "/aspMongo",
    "upload": false,
    "recStatus": "active"
  },
  {
    "id": "2be766f2-9beb-4079-b730-297a551a76bf",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "function",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "92891d0a-9fda-422f-adf0-4ade20fd790b",
    "name": "Prepare Mongo Document",
    "wires": [
      [
        "48d139e0-0bc7-4850-98d7-d689dc6285d7"
      ]
    ],
    "x": 400,
    "y": 100,
    "func": "// Body comes in msg.payload\n\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "0",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "recStatus": "active",
    "code": "// Body comes in msg.payload\n\nmsg.payload = {\n    message: \"Hello New UI of ASP\",\n    body: msg.payload,\n    createdAt: new Date()\n};\n\nreturn msg;"
  },
  {
    "id": "ed198ff3-ba3d-4197-b517-7d8e0baaa0cd",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "http response",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "92891d0a-9fda-422f-adf0-4ade20fd790b",
    "name": "Send Response",
    "wires": [],
    "x": 1000,
    "y": 100,
    "statusCode": "",
    "recStatus": "active"
  },
  {
    "id": "eb7eed84-701a-47df-aa16-fc160deda3a1",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "92891d0a-9fda-422f-adf0-4ade20fd790b",
    "name": "Local MongoDB",
    "wires": [],
    "x": 100,
    "y": 300,
    "recStatus": "active",
    "collectionName": "",
    "operation": "",
    "operationLevel": "collection",
    "useModel": false,
    "modelName": ""
  },
  {
    "id": "48d139e0-0bc7-4850-98d7-d689dc6285d7",
    "tenantConfigId": "698af9d827b476bc267665d9",
    "createdAt": 1770804372699,
    "updatedAt": 1770804372699,
    "type": "mongodb",
    "appType": "workflows",
    "maskId": "DduUXSx6wE",
    "z": "92891d0a-9fda-422f-adf0-4ade20fd790b",
    "name": "Local MongoDB",
    "wires": [
      [
        "ed198ff3-ba3d-4197-b517-7d8e0baaa0cd"
      ]
    ],
    "x": 700,
    "y": 100,
    "outputs": 1,
    "recStatus": "active",
    "collectionName": "Test",
    "operation": "insertOne",
    "useModel": false,
    "modelName": "",
    "operationLevel": "collection"
  }
]